

/* http://codepen.io/koenigsegg1/pen/pjeJvb */



.container-fab {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0;
  z-index: 99999;
}

.buttons-fab {
  border-radius: 50%;
  display: block;
  width: 48px;
  height: 48px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
          transition: all .1s ease-out;
}

.buttons-fab:active,
.buttons-fab:focus,
.buttons-fab:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buttons-fab:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.container-fab:hover
.buttons-fab:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons-fab at differnt speeds */

/*
.buttons-fab:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  background-image: url('http://cbwconline.com/IMG/Share.svg');
  background-size: contain;
}
*/

/*
.buttons-fab:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
          transition-delay: 20ms;
  background-image: url('http://cbwconline.com/IMG/Facebook-Flat.png');
  background-size: contain;
}
*/

/*
.buttons-fab:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
          transition-delay: 40ms;
  background-image: url('http://cbwconline.com/IMG/Twitter-Flat.png');
  background-size: contain;
}
*/

/*
.buttons-fab:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
          transition-delay: 60ms;
  background-image: url('http://cbwconline.com/IMG/Google%20Plus.svg');
  background-size: contain;
}
*/

/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
