
/* shiny alerts */

.shiny-notification-error {
  color: #fff !important;
  background-color: #d9534f !important;
  border: 1px solid #d9534f !important;
}

.shiny-notification-warning {
  color: #fff !important;
  background-color: #f39c12 !important;
  border: 1px solid #f39c12 !important;
}

.shiny-notification-message {
  color: #fff !important;
  background-color: #5cb85c !important;
  border: 1px solid #5cb85c !important;
}

.shiny-notification {
  font-size: 120% !important;
  font-weight: bold !important;
}

#shiny-notification-panel {
  width: 100% !important;
  text-align: center !important;
  top: 0;
}

.shiny-notification-close {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.btn-margin {
  margin-top: 27px;
}
